@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  @apply relative border-black border-2 rounded-full;

  width: 600px;
  height: 600px;
}

.player {
  @apply absolute bg-gray-300 border-black border-2 rounded-full flex justify-center items-center text-center cursor-pointer;

  width: 50px;
  height: 50px;

  &--hidden {
    @apply border-dashed;
  }
}

.card {
  @apply bg-white border border-black font-bold m-1 flex justify-center items-center text-center;

  width: 40px;
  height: 60px;

  &--red {
    @apply text-red-500;
  }

  &--hidden {
    @apply text-white;
  }

  &--outline {
    @apply border-dashed;
  }
}

.cards {
  &--player {
    @apply flex absolute;
    
    bottom: 55px;
  }
  
  &--community {
    @apply absolute flex flex-col items-center;
    
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.game-controls {
  @apply mt-5;
}

body {
  button {
    @apply border rounded-sm p-2;
  }

  ul {
    li {
      @apply border-b;
    }
  }

  table {
    @apply m-4 border;

    tr {
      @apply border-b;

      th {
        @apply border-r p-1;
      }

      td {
        @apply border-r p-1;
      }
    }
  }
}